*{
    padding: 0;
    margin: 0;

}


#main{
    border: 4px solid blue;
    height: 800px;
    width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap: wrap;
    border-radius: 2.5%;
    


}

.subdiv{
    border: 4px solid black;
    height: 250px;
    width: 250px;
    text-align: center;
    font-size: 5em;
    border-radius: 5%;
    background-color: #484547;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.subdiv:hover{
    height: 252px;
    width: 252px;
    /* box-shadow: 4px 4px 2px  yellow ; */
    /* transition-duration: ; */
}