*{
    padding: 0;
    margin: 0;

}

.container{
    height: 900px;
    width: 900px;
    margin: 50px auto;
    border: 2px solid black;
    background-color: pink;
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
}
#div1{
    display: grid;
    grid-column: 1/ span 12;
    border: 2px solid black;
}
 #div2{
    display: flex;
    grid-column: 1/span 3;
    grid-row: 2/span 10;
    border: 2px solid black;
 }

#div3{
    display: grid;
    grid-column: 4/ span 6;
    grid-row: 2/ span 1;
    border: 2px solid black;
}

#div4{
    border: 2px solid black;
    display: grid;
    grid-column: 4/span 6;
    grid-row: 3/span 9;
}

#div5{
    border: 2px solid black;
    display: grid;
    grid-column:10/span 3;
    grid-row: 2/span 10;
}

#div6{
    border: 2px solid black;
    grid-column: 1/span 12;
    grid-row: 12/span 1;
}