*{
    padding: 0;
    margin: 0;

}

#loader{
    height: 300px;
    width: 300px;
    border: 20px solid 	#F0FFFF;
    border-top: 20px solid black;
    margin: 50px auto;
    border-radius: 50%;
    animation: rotate 2s linear infinite;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 50px;
}

@keyframes rotate{
    0% {
        transform: rotate(0deg);

    }
    100% {
        transform: rotate(360deg);
    }
}
#subdiv{
    text-align: center;

}